/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
main {
    max-width: 900px;
    margin: auto;
    padding-block: 24px;
}
form {
    label {
        font-size: 14px;
        font-weight: 500;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        border: none;
        margin-block: 1em;
        padding: 0;
    }

    input {
      padding: 6px;  
    }

    small.error {
        color: red;
        font-size: 12px;
        font-weight: 500;
    }
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

:has(small.error) > input {
    border: 2px solid red;
}

pre {
    display: block;
    background: hsl(0, 0%, 90%);
    padding: 15px;
    text-wrap: pretty;
}